.menu  {
    background-color: rgb(138, 90, 90);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.nav-bar {
    display: flex;
}

.nav-bar a{
    display: flex;
    margin-right: 10px;
}


.logo img{
    width: 100px;


}
.menu a{
    color: aliceblue;
}